@import "tailwindcss";

body {
  color: white;
  background-color: black;
}

.bgColor {
  background-color: #f3e4ff;
}

.number {
  border: solid;
}

.container {
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    padding: 3rem;
  }
}

.image {
  height: 12em;
  width: 15em;
}

@media (min-width: 768px) {
  .image {
    height: 20em;
    width: 33em;
  }
}

@media (min-width: 768px) {
  .first {
    display: flex;
  }
}

.dropdown-toggle::after {
  display: none;
}
